/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #f1f1ee; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: rgba(122, 120, 120, 0.349);
  padding: 20px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%; /* Add a top margin */
  margin-bottom: 15px;
}

/*FORMULARIO DE W3SCHOOLS*/


.w-backgroundvideo-backgroundvideoplaypausebutton:focus-visible {
  outline-offset: 2px;
  border-radius: 50%;
  outline: 2px solid #3b79c3;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #0c0c0cd7;
  background-image: url('../images/5137894.jpg');
  background-position: 0 0;
  background-size: auto;
  flex-direction: column;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  display: flex;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Oswald, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
}

p {
  margin-bottom: 10px;
}

.page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.wearehivegar {
  height: 620px;
  opacity: 1;
  color: #fff;
  background-color: #f4f4f4;
  background-image: url('../images/vs_code.png');
  background-position: 0 0;
  background-size: auto;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin: 14px 5% 24px;
  display: flex;
}

.wearehivegear-content {
  width: 70%;
  max-width: 1140px;
  text-align: center;
  margin-bottom: 20px;
}

.wearehivegear-text {
  width: 80%;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.wearehivegear-tittle {
  opacity: 1;
  color: #fff;
  text-transform: none;
  background-color: #1d2939;
  background-image: radial-gradient(circle, #000, #141530 100%, #fff);
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 21px;
  font-family: Lato, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
}

.paragraph-bigger {
  opacity: 1;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}

.paragraph-bigger.cc-bigger-light {
  opacity: .96;
  color: #fff;
  text-align: center;
  background-color: #6941c6;
  border-radius: 13px;
  margin-top: 20px;
  font-size: 19px;
}

.nav-link, .nav-link-2, .nav-link-3 {
  color: #000;
  background-color: #fff;
  border-radius: 15px;
  margin-top: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar {
  background-color: rgba(88, 87, 87, .58);
}

.background-video {
  height: 600px;
  outline-offset: 0px;
  text-align: center;
  border-top: 1px #000;
  border-radius: 0;
  outline: 3px #000;
  margin-bottom: 30px;
  box-shadow: 8px 14px 5px rgba(0, 0, 0, .2);
}

.image_hg_logo {
  margin-left: 11px;
}

.text_info {
  color: #fff;
  text-align: center;
  background-color: rgba(85, 83, 83, .2);
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 8px 9px 8px rgba(0, 0, 0, .2);
}

.container_info_hivegear {
  margin-bottom: 35px;
  padding-left: 5%;
  padding-right: 5%;
}

.footer {
  background-color: hsla(0, 1%, 26%, 0.85);
  margin-top: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0 -15px 5px rgba(0, 0, 0, .2);
}

.hivegear_worktools {
  background-color: rgba(61, 61, 61, .69);
  border: 10px solid rgba(165, 160, 160, .65);
  border-radius: 0;
  padding: 10px 5%;
}

.container_worktools {
  text-align: center;
  padding-left: 0;
  padding-right: 49px;
}

.heading_worktools {
  color: #fff;
  text-align: center;
  transform-style: preserve-3d;
  margin-bottom: 29px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 70px;
  transform: rotateX(27deg)rotateY(0)rotateZ(-4deg);
  box-shadow: 7px 19px 9px 5px rgba(0, 0, 0, .2);
}

.image_blender, .image_c, .image_unreal5 {
  cursor: pointer;
  margin-right: 25px;
}

.image_unity {
  cursor: pointer;
}

.container_hg_worktools {
  margin-top: 15px;
  padding-bottom: 15px;
  transform: rotate(0);
}

.section_community {
  height: 100%;
  color: #fff;
  background-color: #fff;
  margin-top: 31px;
  padding-top: 0;
}

.slide_facilities {
  background-image: url('../images/LIFEATYAGER_office01b.jpg');
  background-position: 50%;
  background-repeat: repeat;
  background-attachment: scroll;
  border-radius: 0;
}

.slide-2_facilities {
  background-image: url('../images/mshq.jpg');
  background-position: 50% 100%;
  background-repeat: repeat;
  background-size: cover;
}

.slider_facilities {
  height: 500px;
}

.section_facilities {
  margin-top: 0;
  margin-bottom: 3%;
}

.slide-3_facilities {
  background-image: url('../images/studio_3.jpg');
  background-position: 50%;
  background-size: cover;
}

.slide-nav {
  padding-left: 40px;
}

.icon-2, .icon-3 {
  cursor: pointer;
}

.container_development_facilities {
  margin-bottom: 19px;
  padding-bottom: 0;
}

.text_development_facilities {
  transform: scale3d(1none, 1none, 1none);
  transform-style: preserve-3d;
}

.heading_jobs {
  text-align: center;
}

.heading-2_jobs {
  text-align: center;
  font-family: Oswald, sans-serif;
}

.section_development_facilities {
  margin-top: 191px;
}

.opportunities {
  float: left;
  opacity: 1;
  outline-offset: 0px;
  background-color: #ffd84d;
  outline: 3px #fff;
  margin-left: 43%;
  margin-right: 45%;
  position: relative;
  left: 0%;
}

.container-5_jobs {
  padding-left: 5%;
  padding-right: 5%;
}

.container-6_jobs {
  clear: none;
}

.italic-text_worktools {
  box-shadow: 0 20px 19px 12px rgba(31, 28, 28, .2);
}

.image_asteroids {
  border-radius: 14px;
  margin-top: 25px;
  padding-left: 5%;
  padding-right: 5%;
}

.text_asteroids {
  color: #fff;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}

.container_exploregames {
  margin-top: 0;
  margin-bottom: 0;
}

.button_explore_games {
  background-color: #2c975a;
  border: 4px solid #fff;
  border-radius: 0;
  margin-left: 5%;
  margin-right: 5%;
  font-family: Montserrat, sans-serif;
  font-size: 150%;
  line-height: 40px;
}

.section_explore_games {
  color: rgba(0, 0, 0, .4);
  background-color: rgba(255, 255, 255, .02);
  margin-top: 22px;
}

.portada_hivegeargames {
  -webkit-text-fill-color: inherit;
  mix-blend-mode: hard-light;
  background-color: rgba(27, 27, 27, .65);
  background-clip: border-box;
  margin-top: 0;
}

.image_hivegeargames {
  border-radius: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 20px 20px 2px rgba(38, 47, 116, .2);
}

.section_logo_asteroids {
  margin-top: 30px;
  transform: skew(0deg);
  box-shadow: -10px 4px 5px rgba(0, 0, 0, .2);
}

.image-_logo_asteroids {
  margin: 30px 0%;
  padding-left: 0%;
  padding-right: 0%;
}

.information_asteroids {
  color: #fff;
  text-align: justify;
  margin-right: 12%;
  padding-left: 15%;
  padding-right: 5%;
}

.trailer_and_download-button {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 5%;
  display: flex;
}

.download_button {
  min-height: 48px;
  color: #160042;
  letter-spacing: -.02em;
  background-color: #fff;
  border: 1px solid #e4e6f1;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: border-color .3s, background-color .3s;
  display: flex;
}

.download_button:hover {
  background-color: #f3f5fb;
  border-color: rgba(0, 0, 0, 0);
}

.jetpac_buttons {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15%;
  padding-bottom: 15px;
  display: flex;
}

.container_astreoids-_information {
  background-color: rgba(27, 27, 27, .64);
  border-radius: 20px;
  margin-top: -13px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.background-asteroids {
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.asteroids {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 10%;
}

.privacy-policy {
  color: #fff;
  text-align: justify;
  background-color: rgba(7, 7, 7, .23);
  border-radius: 18px;
  margin-left: 0%;
  margin-right: 0%;
  padding: 10px;
  font-size: 16px;
}

.heading-privacy-policy {
  color: #ffde59;
  text-align: center;
  background-color: rgba(146, 146, 146, .15);
  text-decoration: underline;
}

.copyright {
  color: #fff;
  text-align: center;
  background-color: rgba(192, 192, 192, .1);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

.container-copyright {
  padding-left: 20%;
}

.info {
  color: #fff;
  text-align: center;
  background-color: rgba(59, 59, 59, .49);
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 17px;
}

.link-portfolio_about {
  color: #59baff;
}

.link-esat-web {
  color: #59baf9;
}

.comunnity-image {
  opacity: 1;
  outline-offset: 0px;
  mix-blend-mode: normal;
  border: 10px solid rgba(255, 222, 89, .29);
  outline: 3px #fff;
}

.infrastructures_info {
  color: #fff;
  text-align: justify;
  margin-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}

.section_infrastructures {
  font-size: 15px;
}

.jetpac_menu {
  margin-top: 20px;
  margin-bottom: 20px;
}

.modes_games {
  grid-template-columns: .25fr .25fr;
  margin-top: 14px;
  margin-left: 33%;
}

.container_jetpac_menu {
  text-align: center;
  background-color: rgba(125, 78, 167, .16);
  border-radius: 20px;
}

.section_earth {
  text-align: center;
  background-color: #19141e;
  margin-top: 20px;
}

.image_earth {
  text-align: center;
  margin-left: 0%;
}

.section_user {
  margin-top: 30px;
  margin-left: 0%;
  padding-left: 0;
}

.image_create_account, .container_user, .image_login_user, .container_user_login {
  text-align: center;
}

.section_create_account {
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .wearehivegear-text {
    width: auto;
  }

  .wearehivegear-tittle {
    font-size: 56px;
    line-height: 70px;
  }

  .icon {
    background-color: #fff;
  }

  .section_community {
    width: 100%;
    background-image: none;
  }

  .slide-3_facilities {
    background-position: 50%;
    background-size: cover;
  }

  .heading-2_jobs {
    transition: top .2s;
  }

  .opportunities {
    margin-left: 40%;
    left: 0%;
  }

  .image-_logo_asteroids {
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
  }

  .information_asteroids {
    margin-right: 0%;
    padding-left: 5%;
  }

  .jetpac_buttons {
    margin-left: 4%;
  }

  .asteroids {
    margin-left: 0%;
  }

  .infrastructures_info {
    margin-left: 10%;
    margin-right: 10%;
  }

  .section_modes_games {
    margin-left: -45%;
    margin-right: -45%;
  }

  .container_jetpac_menu {
    text-align: center;
  }

  .image_earth {
    margin-left: 0%;
  }
}

@media screen and (max-width: 767px) {
  .wearehivegar {
    position: relative;
  }

  .wearehivegear-content {
    width: 80%;
  }

  .wearehivegear-tittle {
    font-size: 43px;
    line-height: 64px;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }

  .paragraph-bigger.cc-bigger-light {
    margin-left: 5%;
    margin-right: 5%;
  }

  .container_worktools {
    padding-right: 11px;
  }

  .image_blender {
    padding-left: 28px;
  }

  .image_c {
    padding-left: 0;
  }

  .image_unreal5 {
    position: relative;
  }

  .image_unity {
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }

  .slide-nav {
    padding-left: 11px;
  }

  .opportunities {
    float: left;
    clear: none;
    margin-left: 38%;
    position: static;
    left: 0%;
  }

  .superscript_jobs {
    right: 11px;
  }

  .image-_logo_asteroids {
    margin-left: 10%;
  }

  .information_asteroids {
    margin-right: 0%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .jetpac_buttons {
    margin-top: -8px;
    margin-left: 5%;
  }

  .infrastructures_info {
    margin-left: 5%;
    margin-right: 5%;
  }

  .modes_games {
    margin-left: 33%;
    margin-right: 0%;
  }

  .container_jetpac_menu {
    margin-top: 27px;
  }

  .image_earth {
    margin-left: 0%;
  }
}

@media screen and (max-width: 479px) {
  .wearehivegear-tittle {
    font-size: 100%;
    line-height: 100%;
  }

  .paragraph-bigger.cc-bigger-light {
    padding-left: 5px;
  }

  .text_info {
    width: auto;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    position: static;
  }

  .container_info_hivegear {
    padding-left: 0%;
    padding-right: 0%;
  }

  .footer {
    margin-bottom: 20px;
    padding-bottom: 5px;
  }

  .container_worktools {
    padding-left: 7px;
    padding-right: 0;
  }

  .heading_worktools {
    margin-left: 5%;
    margin-right: 10%;
  }

  .image_unreal5 {
    margin-left: 7px;
  }

  .container_development_facilities {
    text-align: left;
    margin-bottom: 0;
  }

  .text_development_facilities {
    text-align: center;
    margin-left: 0;
    margin-right: 0%;
    font-size: 40px;
  }

  .heading-2_jobs {
    padding-left: 0;
  }

  .opportunities {
    margin-left: 35%;
    left: 0%;
  }

  .superscript_jobs {
    right: 7px;
  }

  .italic-text_worktools {
    margin-right: 0%;
    font-size: 40px;
  }

  .container_exploregames {
    text-align: center;
    padding-right: 33px;
  }

  .image_hivegeargames {
    border-radius: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .image-_logo_asteroids {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .information_asteroids {
    margin-right: 0%;
    padding-left: 6%;
  }

  .jetpac_buttons {
    margin-top: -35px;
    margin-left: 5%;
  }

  .background-asteroids {
    height: 550px;
  }

  .privacy-policy {
    margin-left: 0%;
    padding-top: 10px;
  }

  .info {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .infrastructures_info {
    margin-left: 5%;
    margin-right: 5%;
  }

  .modes_games {
    grid-template-columns: 4.75fr 4.75fr;
    margin-left: 33%;
    margin-right: 0%;
  }

  .section_modes_games {
    margin-left: -45%;
    margin-right: 15px;
  }

  .container_jetpac_menu {
    margin-top: 10px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .slide_facilities_4 {
    background-image: url('../images/oajqv.jpg');
    background-position: 0 0;
    background-size: cover;
  }

  .slide_facilities_5 {
    background-image: url('../images/wouter-de-bres-desk-setup-overview-01-2.jpg');
    background-position: 50%;
    background-size: cover;
  }
}

#w-node-f59cd804-74c1-00cc-b928-cdd28460e6fb-15afba56, #w-node-f59cd804-74c1-00cc-b928-cdd28460e6fc-15afba56, #w-node-f59cd804-74c1-00cc-b928-cdd28460e6fd-15afba56, #w-node-f59cd804-74c1-00cc-b928-cdd28460e6fe-15afba56, #w-node-_2dfa19ff-9fd7-3150-e8b6-c622101d9e4b-15afba56, #w-node-_2dfa19ff-9fd7-3150-e8b6-c622101d9e4c-15afba56, #w-node-_2dfa19ff-9fd7-3150-e8b6-c622101d9e4d-15afba56, #w-node-_2dfa19ff-9fd7-3150-e8b6-c622101d9e4e-15afba56 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


